<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewURL()">
      Create Short URL
    </button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <mat-paginator
      [length]="urls.length"
      pageSize="10"
      (page)="getPaginatorData($event)"
      showFirstLastButtons="true"
      hidePageSize="true"
    >
    </mat-paginator>
    <app-url-item
      *ngFor="let urlEl of urls | slice: lowValue:highValue; let i = index"
      [url]="urlEl"
      [index]="i"
    >
    </app-url-item>
  </div>
</div>
