<a
  style="cursor: pointer"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix"
>
  <div class="pull-left">
    <h4 class="list-group-item-heading">
      Generated key: {{ url.shortenedURL }}
    </h4>
    <p class="list-group-item-text">Full URL: {{ url.originalURL }}</p>
  </div>
</a>
