<div class="row">
    <div class="col-xs-12">
        URL details
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Generated Key <a href="{{url!.shortenedURL}}">{{ url!.shortenedURL}}</a></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">      
      Original URL
      <p><a href="{{url!.originalURL}}">{{ url!.originalURL}}</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

        <button
          type="button"
          class="btn btn-danger" style="cursor: pointer;" (click)="onDeleteURL()">
          Remove Url 
        </button>
    </div>
  </div>