<div class="row">
  <div class="col-xs-12">
    <div
      *ngIf="success"
      class="alert alert-success alert-dismissible fade show"
      role="success"
    >
      <strong>Congratz!</strong> You have just shortened URL!
      <button
        (click)="onCloseSuccess()"
        type="button"
        class="btn-close"
        data-bs-dismiss="success"
        aria-label="Close"
      ></button>
    </div>
    <form [formGroup]="urlForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="urlForm.invalid"
          >
            Generate
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="originalURL">Original Url</label>
            <input
              type="text"
              id="originalURL"
              class="form-control"
              formControlName="originalURL"
            />
            <div *ngIf="urlForm.get('originalURL')!.errors && urlForm.touched">
              <div
                *ngIf="urlForm.get('originalURL')!.errors!.required"
                class="alert alert-danger"
              >
                Uniform Resource Locator (URL) is required.
              </div>
              <div
                *ngIf="urlForm.get('originalURL')?.errors?.pattern"
                class="alert alert-danger"
              >
                Please enter a valid Uniform Resource Locator (URL)
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
